.card-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
  padding: 16px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
  text-align: center;
  background: #fff;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
  position: relative;
}

.image-container {
  position: relative;
  overflow: hidden;
  cursor: none;
  width: 100%;
  height: auto;
}

.zoom-image {
  width: 100%;
  display: block;
  height: auto;
  user-select: none;
  -webkit-user-drag: none;
}

.lens {
  width: 150px;      /* diameter */
  height: 150px;     /* diameter */
  border-radius: 50%; /* stays circle */
  border: 2px solid #000;
  background-repeat: no-repeat;
  pointer-events: none;
  position: absolute;
  display: none;
  z-index: 10;
  background-size: 200% 200%; /* zoom level */
   pointer-events: none;
}
